extends layout

block content
  h1= title
  p Welcome to #{title}
  a(id ="login", href="http://api.instagram.com/oauth/authorize/?client_id=32afd360abb7488694571fed8d3e5c54&redirect_uri=http://localhost:3000/&response_type=token&scope=basic+public_content") Login